*.code-workspace
*.svg
*.pdf
wireframe.jpg
.vscode/

https://www.color-hex.com/color-palette/73504

todo:
- add reset button to hud

ask:
- color on winning sequence?


win:
- use vh units so everyting will fit in 1 vertical screen

challenge:
- math..how do you
