*.code-workspace
*.svg
*.pdf
wireframe.jpg
.vscode/

https://www.color-hex.com/color-palette/73504

if user clicks on an occupied piece, the computer becomes X
computer makes 1 more move after game ended


win:
- use vh units so everyting will fit in 1 vertical screen

challenge:
- math..how do you
