@import "partials/setup";
@import "partials/global";

//layout styles
body {
    background: $limeGreen;
    // padding-top: 50px;
    display: grid;
    justify-content: center;
    font-family: 'Righteous', cursive;
}
h1 {
    text-align: center;
    font-size: 4rem;
    @media (min-width: 768px){
        font-size: 5rem;
    }
}
p {
    place-self: center;
    text-align: center;
    margin: 0;
    font-size: 2.5rem;
    @media (min-width: 768px){
        font-size: 3rem;
    }
}
.instructions {
    max-width: 900px;
    font-size: 2rem;
}
.grid {
    width: 80vw;
    height: 80vw;
    place-self: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 1.5rem;
    padding: 2rem;
    border: 8px solid $black;
    border-radius: 15px;
    /* Landscape phone to portrait tablet */
    @media (min-width: 768px){
        width: 70vh;
        height: 70vh;
    }
}
.item {
    place-self: center;
    background: $darkGrey;
    color: $lightBlue;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    display: grid;
    svg {
        width: 50%;
        place-self: center;
        animation: rotation 5s infinite linear;
    }
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(90deg);
  }
}
.hud {
    width: 80vw;
    place-self: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    align-items: stretch;
    grid-gap: 1.5rem;
    padding: 1rem;
    margin: 2rem 0;
    border: 8px solid $black;
    border-radius: 15px;
    /* Landscape phone to portrait tablet */
    @media (min-width: 768px){
        width: 70vh;
    }
}
.turn {
    background: $darkGrey;
    color: $lightBlue;
    border-radius: 15px;
    display: grid;
}
.turnAnimate {
    text-align: center;
    animation: turn-style 0.4s cubic-bezier(.65,.05,.36,1) both;
}
@keyframes turn-style {
  from {
    transform: scale(0.05);
  }
  to {
    transform: scale(1);   
  }
}
.active {
    box-shadow: 9px 9px $pine;
    transition: all linear 0.1s;
    &:active {
        box-shadow: 5px 5px $darkPine;
        transform: translate(4px, 4px);
    }
}
.inactive {
    background: $lightGrey;
    cursor: not-allowed;
    box-shadow: 5px 5px $darkPine;
}
.win {
    animation: rotate-center 0.6s ease-in-out both; 
    background: $pine;
    p {
        animation: anim-moema-1 0.5s forwards infinite;
        &::before {
            content: '';
            position: absolute;
            transform: scale3d(0.5, 0.5, 0.5);
        }
    }
}
@keyframes rotate-center {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes anim-moema-1 {
	60% {
		-webkit-transform: scale3d(0.8, 0.8, 1);
		transform: scale3d(0.8, 0.8, 1);
	}
	85% {
		-webkit-transform: scale3d(1.1, 1.1, 1);
		transform: scale3d(2, 2, 1);
	}
	100% {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
}