article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #444;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

body {
  background: #bada55;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Righteous', cursive;
}

h1 {
  text-align: center;
  font-size: 4rem;
}

@media (min-width: 768px) {
  h1 {
    font-size: 5rem;
  }
}

p {
  place-self: center;
  text-align: center;
  margin: 0;
  font-size: 2.5rem;
}

@media (min-width: 768px) {
  p {
    font-size: 3rem;
  }
}

.instructions {
  max-width: 900px;
  font-size: 2rem;
}

.grid {
  width: 80vw;
  height: 80vw;
  place-self: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  grid-gap: 1.5rem;
  padding: 2rem;
  border: 8px solid black;
  border-radius: 15px;
  /* Landscape phone to portrait tablet */
}

@media (min-width: 768px) {
  .grid {
    width: 70vh;
    height: 70vh;
  }
}

.item {
  place-self: center;
  background: #444;
  color: #b0e0e6;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  display: -ms-grid;
  display: grid;
}

.item svg {
  width: 50%;
  place-self: center;
  -webkit-animation: rotation 5s infinite linear;
          animation: rotation 5s infinite linear;
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}

@keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}

.hud {
  width: 80vw;
  place-self: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  grid-gap: 1.5rem;
  padding: 1rem;
  margin: 2rem 0;
  border: 8px solid black;
  border-radius: 15px;
  /* Landscape phone to portrait tablet */
}

@media (min-width: 768px) {
  .hud {
    width: 70vh;
  }
}

.turn {
  background: #444;
  color: #b0e0e6;
  border-radius: 15px;
  display: -ms-grid;
  display: grid;
}

.turnAnimate {
  text-align: center;
  -webkit-animation: turn-style 0.4s cubic-bezier(0.65, 0.05, 0.36, 1) both;
          animation: turn-style 0.4s cubic-bezier(0.65, 0.05, 0.36, 1) both;
}

@-webkit-keyframes turn-style {
  from {
    -webkit-transform: scale(0.05);
            transform: scale(0.05);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes turn-style {
  from {
    -webkit-transform: scale(0.05);
            transform: scale(0.05);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.active {
  -webkit-box-shadow: 9px 9px #467763;
          box-shadow: 9px 9px #467763;
  -webkit-transition: all linear 0.1s;
  transition: all linear 0.1s;
}

.active:active {
  -webkit-box-shadow: 5px 5px #385f4f;
          box-shadow: 5px 5px #385f4f;
  -webkit-transform: translate(4px, 4px);
          transform: translate(4px, 4px);
}

.inactive {
  background: #888;
  cursor: not-allowed;
  -webkit-box-shadow: 5px 5px #385f4f;
          box-shadow: 5px 5px #385f4f;
}

.win {
  -webkit-animation: rotate-center 0.6s ease-in-out both;
          animation: rotate-center 0.6s ease-in-out both;
  background: #467763;
}

.win p {
  -webkit-animation: anim-moema-1 0.5s forwards infinite;
          animation: anim-moema-1 0.5s forwards infinite;
}

.win p::before {
  content: '';
  position: absolute;
  -webkit-transform: scale3d(0.5, 0.5, 0.5);
          transform: scale3d(0.5, 0.5, 0.5);
}

@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes anim-moema-1 {
  60% {
    -webkit-transform: scale3d(0.8, 0.8, 1);
    transform: scale3d(0.8, 0.8, 1);
  }
  85% {
    -webkit-transform: scale3d(1.1, 1.1, 1);
    transform: scale3d(2, 2, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes anim-moema-1 {
  60% {
    -webkit-transform: scale3d(0.8, 0.8, 1);
    transform: scale3d(0.8, 0.8, 1);
  }
  85% {
    -webkit-transform: scale3d(1.1, 1.1, 1);
    transform: scale3d(2, 2, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
